<div class="row">
	<div>
		<h1>Listing Books</h1>
		<hr/>
		<p id="notice">
			<%= notice %>
		</p>

	</div>
</div>

<div class="row">

	<div clas="col-xs-6"></div>
	<div clas="col-xs-6">
		<div class="btn btn-default">
			<%= link_to 'New Book', new_book_path %>
		</div>

		<hr/>
		<div id="books-container">
			
		</div>
	</div>

</div>

<br>
